body {
    background-color: #d3d8dc  !important;
}

.container {
    max-width: 960px;
}

h1 {
    color: #343a40;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.btn-primary {
    background-color: #403934;
    border-color: #343a40;
}

.btn-primary:hover {
    background-color: #23272b;
    border-color: #23272b;
}

.form-group .control-label {
    text-align: left;
    display: block;
}

.form-control {
    display: block;
    width: 100%;
    border-radius: 0;
}

.datepicker {
    width: 100%;
}
